<h1>BlackIT</h1>
<br>
<h2>Good-Bye fellow BlackIT</h2>

<br> <br>
<form action="/users/new" method="get">

<input type="submit" value="Create New User">
</form>

<br> <br>
<form action="/session/new" method="get">

<input type="submit" value="Sign In">
</form>
