<header class="masthead">
  <nav class="language-nav>"
    <ul>
      <lu><a href="#">CSS</a></lu>
      <lu><a href="#">HTML</a></lu>
      <lu><a href="#">Javascript</a></lu>
      <lu><a href="#">Ruby</a></lu>
    </ul>
  </nav>
  <img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">
  <ul class="masthead-links">
    <lu><a href="#">Tuesday, October 18, 2016</a></lu>
    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
    <lu><a href="#">Today’s Paper</a></lu>
    <i class="fa fa-video-camera" aria-hidden="true"></i>
    <lu><a href="#">Videos</a></lu>
    <lu><button>77°F</button></lu>
    <lu><button>AAO <strong>+100%</strong></button></lu>
  </ul>
</header>
